.home-container {
    padding: 2rem;
    text-align: center;
  
    input {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  
    .imagen-container {
      margin-top: 2rem;
  
      img {
        max-width: 100%;
        border: 1px solid #ccc;
      }
    }
  }
  